<head th:fragment="table_header" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8"/>
    <title>Employee management app</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/buttons.dataTables.min.css">
    <script type="text/javascript" src="/js/datatables.min.js"></script>
    <script type="text/javascript" src="/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="/js/dataTables.buttons.min.js"></script>
</head>