<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{styles.css}">
    <script src="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{buttons.dataTables.min.css}">
    <script type="text/javascript" th:src="@{datatables.min.js}"></script>
    <script type="text/javascript" th:src="@{buttons.print.min.js}"></script>
    <script type="text/javascript" th:src="@{dataTables.buttons.min.js}"></script>
</head>
<body>
<div lang="en" th:replace="fragments/nav :: nav"></div>
<h3 th:text="'Salary report for ' + ${reportYear.year}"></h3>

<form action="#" th:action="@{/setYear}" th:object="${reportYear}" method="post">
    <label>Type year for report</label>
    <input type="text" placeholder="YYYY" required th:field="*{newYear}"/>
    <input type="submit" value="Submit"/>
</form>
<table id="reportTable" class="cell-border">
    <thead>
    <tr>
        <th>Month</th>
        <th>Salary expense</th>
        <th>Average salary</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="month : ${report}">
        <td th:text="${month.key}"></td>
        <td th:text="${month.value.get(0)}"></td>
        <td th:text="${month.value.get(1)}"></td>
    </tr>
    </tbody>
</table>

<script>
    $(document).ready(function() {
        $('#reportTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'print'
            ]
        });
    } );
</script>
</body>
</html>